@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
 
  background-color: #202B38;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    Helvetica,
    Segoe UI Emoji,
    Apple Color Emoji,
    Noto Color Emoji,
    source-han-sans-hong-kong,
    SF Pro HK,
    PingFang HK,
    Microsoft JhengHei,
    Noto Sans,
    sans-serif;
}

nav {
  text-align: center;
}


section {
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%; 
}

.card {
  grid-gap: 0.8em;
  background-color: #0c151c;
  border-radius: 6px;
  display: grid;
  cursor: pointer;
}

.card:hover {
  text-decoration: none;
}

.card img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 214px;
  object-fit: cover;
}

.card h3 {
  padding: 0 1em;
}

.card h3,
.card p {
  color: #ffbe85;
}

.card div {
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25em 1em;
  display: flex;
}

.card time {
  background: none;
  padding: 0;
}

.card img,
.card h3,
.card p {
  margin: 0;
}

footer {
  text-align: center;
}

footer div {
  margin-top: 0.5em;
}

#signUp div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#signUp label {
  font-size: 1.8em;
}

#signUpInputs {
  margin-top: 0.5em;
}

#signUpInputs p {
  color: red;
  font-weight: bold;
  margin-left: 0.5em;
}

#requestForm p {
  color: red;
}

#requestFormFields {
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 3em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#requestFormFields label {
  align-self: center;
  text-align: right;
}

label span {
  color: red;
}

.topLabel {
  align-self: start !important;
  padding-top: 4%;
}

#songsVids div {
  display: flex;
  flex-direction: row;
}

#songsVids .removeButton {
  background: transparent;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#requestFormFields div input {
  flex-grow: 1;
}

.invalid {
  border: 1px solid rgba(255, 0, 0, 0.7);
}

h1 {
  font-style: italic;
  color:#45C4C9;
  text-align: center;
}

header img {
  align-content: center;
}

header p {
  color: #45C4C9;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

.menu,
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.menu button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  cursor: pointer;
}

#selected-artist {
  color: whitesmoke;
}

.menu button:focus,
.menu button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

.productCard {
  background-color: #f7f9fa;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  flex: 0 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.songName {
  font-size: 27px;
  margin: 3px 3px 3px 10px;
  width: 190px;
  height: 40px;
  color: black;
  text-shadow: 0 2px rgb(175, 173, 239);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.yearRecorded {
  font-family: cursive;
  font-size: small;
  color: #7f8c9b;
  line-height: 100%;
  float: right;
}

.durationContainer {
  display: flex;
  align-items: center;
  font-family: cursive;
  font-size: small;
  color: #41adff;
}

.playIcon {
  margin-right: 8px;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}
